Options -Indexes

# 自定义错误页
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
ErrorDocument 500 /500.php

# PHP 文件直接执行，不下载
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>
